@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex  align-items-center  fw-bold">
                <button type="button" onclick="history.back()" class="btn btn-light btn-sm">
                    <i class="bi bi-arrow-left me-1"></i> 
                </button>
                <h5 class="mt-2">Change Password</h5>
                
            </div>

            <div class="card-body p-4">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Input.OldPassword" class="form-label fw-semibold"></label>
                                <div class="input-group">
                                    <input asp-for="Input.OldPassword" type="password" class="no-shadow-on-focus password-input form-control" placeholder="">
                                    <span class="input-group-text bg-white toggle-password"><i class="bi bi-eye"></i></span>
                                </div>
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Input.NewPassword" class="form-label fw-semibold"></label>
                                <div class="input-group">
                                    <input asp-for="Input.NewPassword" type="password" id="password" class="no-shadow-on-focus password-input form-control" placeholder="">
                                    <span class="input-group-text bg-white toggle-password"><i class="bi bi-eye"></i></span>
                                </div>
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Input.ConfirmPassword" class="form-label fw-semibold"></label>
                                <div class="input-group">
                                    <input asp-for="Input.ConfirmPassword" type="password" class="no-shadow-on-focus password-input form-control" placeholder="">
                                    <span class="input-group-text bg-white toggle-password"><i class="bi bi-eye"></i></span>
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <span id="strengthPercentage"></span>
                                <div class="progress mb-2">
                                    <div id="strengthProgress" class="progress-bar" role="progressbar" style="width: 0%;"></div>
                                </div>
                                <span>Your password must contain:</span>
                                <ul class="password-rules">
                                    <li id="length">Must be at least 8 characters</li>
                                    <li id="number">Include at least one number (0–9)</li>
                                    <li id="uppercase">Include at least one uppercase letter (A–Z)</li>
                                    <li id="lowercase">Include at least one lowercase letter (a–z)</li>
                                    <li id="special">Include at least one special character (!@@#$%^&*)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-end mt-3">
                            <button type="button" onclick="javascript:history.back()" class="btn btn-outline-secondary me-2">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-success fw-bold">
                                Change Password
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Login Card -->
@* <div class="mt-3">
<div class="row ">
    <div class="d-flex justify-content-start mb-3">
            <a href="javascript:history.back()" class="btn btn-white">
                <i class="bi bi-arrow-left-square"></i>
        </a>
        <h5 class="mt-2">@ViewData["title"]</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow-sm">
            <div class="card-body p-4">

                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Input.OldPassword" class="form-label fw-semibold"></label>
                                <div class="input-group">
                                   
                                    <input asp-for="Input.OldPassword" type="password" class="no-shadow-on-focus password-input form-control " placeholder="">
                                    <span class="input-group-text bg-white toggle-password"><i class="bi bi-eye"></i></span>
                                   
                                </div>
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Password -->
                            <div class="mb-3">
                                <label asp-for="Input.NewPassword" class="form-label fw-semibold"></label>
                                <div class="input-group">
                                   
                                    <input asp-for="Input.NewPassword" type="password" id="password" class="no-shadow-on-focus  password-input form-control" placeholder="">
                                    <span class="input-group-text bg-white toggle-password"><i class="bi bi-eye"></i></span>
                                   
                                </div>
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Confirm Password -->
                            <div class="mb-3">
                                <label asp-for="Input.ConfirmPassword" class="form-label fw-semibold"></label>
                                <div class="input-group">
                                    
                                    <input asp-for="Input.ConfirmPassword" type="password" class="no-shadow-on-focus password-input form-control  " placeholder="">
                                    <span class="input-group-text bg-white toggle-password"><i class="bi bi-eye"></i></span>
                                   
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <span id="strengthPercentage"></span>
                                <div class="progress mb-2">

                                    <div id="strengthProgress" class="progress-bar" role="progressbar" style="width: 0%;"></div>
                                </div>
                                <span>Your password must contain:</span>
                                <ul class="password-rules">
                                    <li id="length">Must be at least 8 characters</li>
                                    <li id="number">Include at least one number (0–9)</li>
                                    <li id="uppercase">Include at least one uppercase letter (A–Z)</li>
                                    <li id="lowercase">Include at least one lowercase letter (a–z)</li>
                                    <li id="special">Include at least one special character (!@@#$%^&*)</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                       
                    <div class="row">
                        <div class="text-end mt-3">
                                <button type="button" onclick="javascript:history.back()" class="btn btn-outline-secondary me-2">Cancel</button>
                            <button type="submit" class="btn btn-success fw-bold">Change Password</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div> *@
@* <div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <script>
         
     $('#password').on('input', function () {
      const password = $(this).val();
      const progress = $('#strengthProgress');
      const progressLength=$('#progressLength');

      // Rule checks
      const length = password.length >= 8;
      const number = /[0-9]/.test(password);
      const uppercase = /[A-Z]/.test(password);
      const lowercase = /[a-z]/.test(password);
      const special = /[!@@#$%^&*(),.?":{}|<>]/.test(password);


            // Count how many rules are met
            const rulesMet = [length, number, uppercase, lowercase, special].filter(Boolean).length;

            let colorClass = '';
            let width = (rulesMet / 5) * 100 + '%';

            if (rulesMet <= 2) {
                colorClass = 'bg-danger';
            } else if (rulesMet === 3 || rulesMet === 4) {
                colorClass = 'bg-warning';
            } else if (rulesMet === 5) {
                colorClass = 'bg-success';
            }
        // Update progress bar
              progress
                  .removeClass('bg-danger bg-warning bg-success')
                  .addClass(colorClass)
                  .css('width', width);
                  const strength="Password Strength: "+`${rulesMet * 20}%`;
                  $('#strengthPercentage').text(strength);




      // Toggle each rule visually
      toggleValid('#length', length);
      toggleValid('#number', number);
      toggleValid('#uppercase', uppercase);
      toggleValid('#lowercase', lowercase);
      toggleValid('#special', special);
    });

    function toggleValid(selector, isValid) {
      if (isValid) {
        $(selector).addClass('valid');
      } else {
        $(selector).removeClass('valid');
      }
    }

    function toggleValid(selector, isValid) {
      if (isValid) {
        $(selector).addClass('valid');
      } else {
        $(selector).removeClass('valid');
      }
    }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
