@using Microsoft.AspNetCore.Mvc.Localization
@using PMSWebApp.Models
@model PMSWebApp.Models.TenantViewModel
@using PMSWebApp.Controllers
@inject Microsoft.Extensions.Localization.IStringLocalizer<TenantsController> Localizer

@{
    ViewData["Title"] = Localizer["Tenants"];
    var actionName = Model.Tenant.Id == 0 ? Localizer["CreateTenant"] : Localizer["UpdateTenant"];
}
<div class="card">
    <div class="card-header">
        <!-- Row 1 -->
        <div class="row align-items-center">
            <div class="col-md-1">
                <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">
                    <i class="bi bi-arrow-left me-1"></i>
                </button>
            </div>
            <div class="col-md-5 mb-2 mb-md-0">
                <h4 class="mb-0 arabic-font">
                    @actionName
                </h4>
            </div>
        </div>


    </div>

    <div class="card-body p-0 m-3">
        <form method="post">
            <input type="hidden" asp-for="Tenant.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <label asp-for="Tenant.TenantName" class="form-label fw-semibold"></label>
                    <input asp-for="Tenant.TenantName" type="text" class="form-control" placeholder="" />
                    <span asp-validation-for="Tenant.TenantName" class="text-danger"></span>
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <label asp-for="Tenant.TenantCode" class="form-label fw-semibold"></label>
                    <input asp-for="Tenant.TenantCode" type="text" class="form-control" placeholder="" />
                    <span asp-validation-for="Tenant.TenantCode" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <label asp-for="Tenant.Description" class="form-label fw-semibold"></label>
                    <input asp-for="Tenant.Description" type="text" class="form-control" placeholder="" />
                    <span asp-validation-for="Tenant.Description" class="text-danger"></span>
                </div>
            

           
            </div>

            <div class="row mt-4">
                <div class="col-12 text-end">
                    <button type="button" onclick="javascript:history.back()" class="btn btn-outline-secondary me-2">Cancel</button>
                    <button type="submit" class="btn btn-success fw-bold arabic-font">@actionName</button>
                </div>
            </div>
        </form>

    </div>
</div>





